# Eurus Environment - Thu Feb 12 22:56:45 CET 2026
# Python: Python 3.12.2

affine==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
appnope==0.1.4
arraylake==0.28.1
asttokens==3.0.1
attrs==25.4.0
cachetools==7.0.0
cachey==0.2.1
Cartopy==0.25.0
certifi==2026.1.4
cf_xarray==0.10.11
cffi==2.0.0
cftime==1.6.5
charset-normalizer==3.4.4
click==8.3.1
cligj==0.7.2
cloudpickle==3.1.2
cmocean==4.0.3
colorcet==3.1.0
comm==0.2.3
contourpy==1.3.3
coverage==7.13.2
cryptography==46.0.4
cycler==0.12.1
dask==2026.1.2
datashader==0.18.2
debugpy==1.8.19
decorator==5.2.1
distro==1.9.0
dnspython==2.8.0
donfig==0.8.1.post1
email-validator==2.3.0
executing==2.2.1
fastapi==0.128.0
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.2.0
geographiclib==2.1
geopandas==1.1.2
geopy==2.4.1
global-land-mask==1.0.0
google-crc32c==1.8.0
h11==0.16.0
HeapDict==1.0.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.27.2
httpx-sse==0.4.3
icechunk==1.1.17
idna==3.11
iniconfig==2.3.0
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver==1.4.9
langchain==1.2.7
langchain-core==1.2.7
langchain-openai==1.1.7
langgraph==1.0.7
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.7
langgraph-sdk==0.3.3
langsmith==0.6.6
llvmlite==0.46.0
locket==1.0.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mcp==1.26.0
mdurl==0.1.2
morecantile==7.0.3
multidict==6.7.1
multipledispatch==1.0.0
nest-asyncio==1.6.0
numba==0.63.1
numba_celltree==0.4.1
numbagg==0.9.4
numcodecs==0.16.5
numpy==2.3.5
openai==2.16.0
orjson==3.11.5
ormsgpack==1.12.2
packaging==25.0
pandas==3.0.0
param==2.3.2
parso==0.8.5
partd==1.4.2
pexpect==4.9.0
pillow==12.1.0
platformdirs==4.5.1
pluggy==1.6.0
pooch==1.9.0
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==3.0
pyct==0.6.0
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic-xml==2.18.0
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.10.1
PyMuPDF==1.26.7
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.2
pyshp==3.0.3
PySide6==6.10.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
pytest==9.0.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
PyYAML==6.0.3
pyzmq==27.1.0
rasterio==1.5.0
rasterix==0.2.0
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.3.1
rioxarray==0.21.0
rpds-py==0.30.0
ruamel.yaml==0.19.1
scgraph==2.15.0
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
shapely==2.1.2
shellingham==1.5.4
shiboken6==6.10.1
six==1.17.0
sniffio==1.3.1
sse-starlette==3.2.0
stack-data==0.6.3
starlette==0.50.0
structlog==25.5.0
tenacity==9.1.2
term-image==0.7.2
threadpoolctl==3.6.0
tiktoken==0.12.0
toolz==1.1.0
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
triangle==20250106
typer==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uuid_utils==0.14.0
uvicorn==0.40.0
uvloop==0.22.1
-e git+https://github.com/dmpantiu/Eurus.git@9a6d481226f01ea0cc61969659907827cc0933d1#egg=vostok
watchfiles==1.1.1
wcwidth==0.5.0
websockets==16.0
xarray==2025.11.0
xproj==0.2.1
xpublish==0.4.2
xpublish-tiles==0.4.0
xxhash==3.6.0
yarl==1.22.0
zarr==3.1.5
zstandard==0.25.0
