.app-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 0.5rem;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .app-layout {
        flex-direction: column;
    }
}